<div id="settings_dialog" style="display:none">
<check-box id="settings-autoplay"{% if autoplay %} checked="on"{% endif %} text="Autoplay"></check-box>
<p><check-box id="settings-autopause" text="Pause when entering a comment"></check-box>
<p><check-box id="settings-loop"{% if loop %} checked="on"{% endif %} text="Loop playback"></check-box>
<p><check-box id="settings-player-markers"{% if player_markers %} checked="on"{% endif %} text="Show markers in player"></check-box>
<p><check-box id="settings-player-play-overlay" text="Show play icon over video when paused"></check-box>
</div>
