@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    src: local('Quicksand Regular'), local('Quicksand-Regular'), url(../fonts/Quicksand.woff2) format('woff2'), url(../fonts/Quicksand.woff) format('woff');
}
