<div class="status-text">This service is configured to authenticate with an identity provider.</div>
<input type="submit" name="initiate_sso" style="font-size: 9pt" value="Continue with Identity Provider">