<div id="navbar" class="{% if horizontal_navbar == false %}vertical{%  endif %}">
    {% if horizontal_navbar == false %}<div id="navbar-collapse"><<</div>{%  endif %}
    <a href="{{ home_url }}"><div id="logo-container" style="background-image:url('{{ site_logo }}')"></div></a>
